{% extends "base.html" %} {% block content %}

<ul class="flex flex-col gap-6 border-b">
  <li class="border-b px-6 md:px-0 py-3 sticky top-0 bg-omni-white">
    <h3 class="text-base font-light">Alla tillgängliga flöden</h3>
    <p class="m-0 text-sm">
      Här kan du se alla tillgängliga flöden, gå till ett flöde för att se alla
      inlägg i det.
    </p>
  </li>

  {% for category in categories %}
  <li>
    <h3 class="text-base font-light">{{ category.name }}</h3>
    <ul>
      {% for feed in category.feed_set.all %}
      <li>
        <a
          class="underline pb-1 text-sm"
          href="{% url 'feeds:feed_curated' feed.id %}"
          >{{ feed.name }}</a
        >
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
  </li>
</ul>

{% endblock %}
