{% extends "base.html" %}

{% block content %}
<div id="page-content" class="my-9 px-6 md:px-0">
    <h1 class="text-3xl font-extrabold my-6">Om sidan</h1>
    <p>
        Den här sidan hämtar nyheter från en rad källor och visar några utvalda.
        Ett projekt av <a href="https://konstellationen.org">Kamratdataföreningen Konstellationen</a>.
    </p>
</div>
{% endblock %}