<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Mediakollen{% endblock %}</title>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel='stylesheet' href='{% static 'style.css' %}' media='all' />
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', (e) => {
            document.querySelectorAll('button[data-button-action="like"]').forEach((item) => {
                item.addEventListener('click', (e) => {
                    const button = e.target.closest('button');
                    const itemId = button.dataset.item_id;
                    const xmlhtt = new XMLHttpRequest();
                    const url = `/api/like/${itemId}/`;
                    xmlhtt.open("POST", url, true);
                    xmlhtt.setRequestHeader("Content-Type", "application/json");
                    xmlhtt.send(null);
                    xmlhtt.onreadystatechange = () => {
                        if (xmlhtt.readyState == 4 && xmlhtt.status == 200) {
                            try {
                                const jsonData = JSON.parse(xmlhtt.responseText);
                                if (jsonData.success) {
                                    item.setAttribute("disabled", "disabled");
                                    item.innerHTML = "Gillat och klart";
                                } else {
                                    console.error("Error occured with json data");
                                    console.error(jsonData);
                                }
                            } catch (error) {
                                console.error("Error occured");
                                console.error(error);
                            }
                        }
                    };

                });
            });
        });
    </script>
</head>

<body class="bg-omni-white font-sans">
    <div class="flex w-full items-center flex-col">
        <div class="max-w-3xl w-full">
            {% include "_menu.html" %}
            <div class="" id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

</body>
</html>
