{% extends "base.html" %}

{% block content %}

<div id="page-content" class="my-9 px-6 md:px-0">
    <h1 class="text-3xl font-extrabold my-6">Kontakt</h1>
    <p>
        Vill du komma i kontakt med oss så maila <a href="mailto:kamratadata@proton.me">kamratadata@proton.me</a>.
        Du kan följa <a href="https://social.spejset.org/@konstellationen">Kamratdataföreningen Konstellationens mastodonkonto</a>.
    </p>
</div>
{% endblock %}