{% extends "base.html" %}

{% block content %}

{% if latest_processed_items_to_show %}
    <ul class="flex flex-col gap-6 border-b">
        <li class="border-b px-8 py-3 sticky top-0 bg-omni-white">
            <h3 class="text-base font-light">Senaste utvalda artiklar</h3>
        </li>
        {% for item in latest_processed_items_to_show %}
            {% include "feed/_item.html" with item=item %}
        {% endfor %}
        <li class="px-8 mb-9">
            <a href="{% url 'feeds:curated' %}" class="underline hover:no-underline text-sm">Visa alla utvalda artiklar</a>
        </li>
    </ul>
{% endif %}

{% if latest_item_list %}
    <ul class="flex flex-col gap-6">
        <li class="border-b px-8 py-3 sticky top-0 bg-omni-white">
            <h3 class="text-base font-light">Senaste övriga artiklar</h3>
        </li>
        {% for item in latest_item_list %}
            {% include "feed/_item.html" with item=item %}
        {% endfor %}
        <li class="px-8 mb-9">
            <a href="{% url 'feeds:all' %}" class="underline hover:no-underline text-sm">Visa alla övriga artiklar</a>
        </li>
    </ul>
{% else %}
    <p>No feed items are available.</p>
{% endif %}
{% endblock %}
