{% load humanize %}
<li class="item flex flex-row gap-3 justify-start items-start">
    <div class="text-sm">
        <div class="dott w-2 h-2 bg-omni-red rounded-full"></div>
    </div>
    <div class="flex flex-col gap-1 pr-6">
        <div class="flex flex-row justify-self-start items-center gap-2 text-sm"><time class="font-semibold">{{ item.published|naturaltime }}</time><a href="{% url 'feeds:feed_curated' item.feed_id %}" class="no-underline hover:underline font-light">{{ item.feed.name }}</a></div>
        <a target="_blank" title="{{ item.title }}" class="no-underline hover:underline font-extrabold leading-tight" href="{{ item.link }}">
            {{ item.title }}
        </a>
        {% if user.is_authenticated %}
            {% if not item.show_item %}
                <div class="meta">
                    <button class="flex flex-row items-center justify-start gap-1 text-semibold text-sm cursor-pointer" data-button-action="like" data-item_id="{{ item.id }}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                        </svg>
                        <span>Gilla</span>
                    </button>
                </div>
            {% endif %}
        {% endif %}
    </div>
</li>
