{% extends "base.html" %}

{% block content %}

 <ul class="flex flex-col gap-6 border-b">
     <li class="flex flex-row justify-between items-center border-b pl-8 pr-6 md:pr-0 py-3 sticky top-0 bg-omni-white">
         <div>
             {% if feed_type == 'all' %}
                 Alla
             {% elif feed_type == 'curated' %}
                 Utvalda
             {% else %}
                 {{ feed_type|capfirst }}
             {% endif %}
             {% if feed %} artiklar från {{ feed.name }}
             {% else %} artiklar
             {% endif %}
         </div>
         <div class="text-sm flex flex-row gap-3">
             {% if feed %}
                 <a class="{% if feed_type == 'curated' %}text-omni-red underline{% endif %} hover:underline" href="{% url 'feeds:feed_curated' feed.id %}">Utvalda</a>
                 <a class="{% if feed_type == 'all' %}text-omni-red underline{% endif %} hover:underline" href="{% url 'feeds:feed_all' feed.id %}">Alla</a>
             {% else %}
                 <a class="{% if feed_type == 'curated' %}text-omni-red underline{% endif %} hover:underline" href="{% url 'feeds:curated' %}">Utvalda</a>
                 <a class="{% if feed_type == 'all' %}text-omni-red underline{% endif %} hover:underline" href="{% url 'feeds:all' %}">Alla</a>
             {% endif %}
         </div>
     </li>
    {% for item in page_obj %}
        {% include "feed/_item.html" with item=item %}
    {% endfor %}
</ul>

<div class="pagination my-6 px-6 md:px-0">
    <span class="step-links flex flex-row justify-start items-center gap-3 text-sm">
        {% if page_obj.has_previous %}
            <a href="?page=1">Första</a>
            <a href="?page={{ page_obj.previous_page_number }}">Föregående</a>
        {% endif %}

        <span class="current">
            Sida {{ page_obj.number }} av {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Nästa</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Sista</a>
        {% endif %}
    </span>
</div>
{% endblock %}