@tailwind base;
@tailwind components;
@tailwind utilities;

.dott {
	margin-top: 7px;
	margin-left: .75rem;
}

p {
	@apply my-3;
}

p::not(:first-child) {
	@apply mt-0;
}

p::not(:last-child) {
	@apply mb-0;
}

a {
	@apply underline hover:no-underline;
}

@font-face {
	font-family: 'Raleway';
	src: url('./fonts/Raleway-Black.woff2') format('woff2'),
		url('./fonts/Raleway-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	src: url('./fonts/Raleway-BlackItalic.woff2') format('woff2'),
		url('./fonts/Raleway-BlackItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	src: url('./fonts/Raleway-Bold.woff2') format('woff2'),
		url('./fonts/Raleway-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	src: url('./fonts/Raleway-BoldItalic.woff2') format('woff2'),
		url('./fonts/Raleway-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	src: url('./fonts/Raleway-ExtraBold.woff2') format('woff2'),
		url('./fonts/Raleway-ExtraBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	src: url('./fonts/Raleway-ExtraLightItalic.woff2') format('woff2'),
		url('./fonts/Raleway-ExtraLightItalic.woff') format('woff');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	src: url('./fonts/Raleway-Italic.woff2') format('woff2'),
		url('./fonts/Raleway-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	src: url('./fonts/Raleway-ExtraLight.woff2') format('woff2'),
		url('./fonts/Raleway-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	src: url('./fonts/Raleway-ExtraBoldItalic.woff2') format('woff2'),
		url('./fonts/Raleway-ExtraBoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	src: url('./fonts/Raleway-Light.woff2') format('woff2'),
		url('./fonts/Raleway-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	src: url('./fonts/Raleway-MediumItalic.woff2') format('woff2'),
		url('./fonts/Raleway-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	src: url('./fonts/Raleway-Medium.woff2') format('woff2'),
		url('./fonts/Raleway-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	src: url('./fonts/Raleway-LightItalic.woff2') format('woff2'),
		url('./fonts/Raleway-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	src: url('./fonts/Raleway-SemiBold.woff2') format('woff2'),
		url('./fonts/Raleway-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	src: url('./fonts/Raleway-Thin.woff2') format('woff2'),
		url('./fonts/Raleway-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	src: url('./fonts/Raleway-SemiBoldItalic.woff2') format('woff2'),
		url('./fonts/Raleway-SemiBoldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	src: url('./fonts/Raleway-ThinItalic.woff2') format('woff2'),
		url('./fonts/Raleway-ThinItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	src: url('./fonts/Raleway-Regular.woff2') format('woff2'),
		url('./fonts/Raleway-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

